/* External Styling */
* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
label {
  color:white;
}

/* Pseudo class: Styling an element at a specific state */
label:hover {
  color: grey;
}

legend{
    color: white;
    font-size: small;
}

#email {
  background-color: azure;
}

.bg-green {
  background-color: green;
  color: white;
}

a {
  color: blue;
}

a:hover {
  color: red;
  font-size: 20px;
}

p {
  display: inline;
  border: 3px black solid;
  font-size: 30px;
}

li {
  font-weight: 900;
}
body {
  background: #2a7b9b;
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );
  /* background-image: ; */
}

#box{
    border: 2px solid black;
    width: 80px;
    height: 80px;
    padding: 20px 20px;
    margin: 800px 200px;
    color: white;
}

header{
    background-color: lightgray;
}

nav{
    display: inline-block;
    margin-left: 100px;

}

.buttons{
    display:inline-block;
    margin-left:300px;
}

table{
    color: white;
}